@font-face {
    font-family: 'Aquire';
    src: url('Aquire-BW0ox.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #1a1a1a;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}
nav div {
    display: flex;
    padding: 1em;
    gap: 10em;
}
nav div a{
    text-decoration: none;
    color: antiquewhite;
    font-family:'Aquire';
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em;
}
.header .h1 {
    position: relative;
    font-family: 'Aquire';
    font-size: 20vw;
    color: antiquewhite;
    line-height: 1.125;
}
.hero {
    position: relative;
    width: calc(100vw - 4em);
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;
    border: 4px solid antiquewhite;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
}
.bar {
    width: 10vw;
    height: 100vh;
    background: #1a1a1a;
}
.counter {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 10000;
    color: antiquewhite;
    font-size: 20vw;
    font-family: 'Aquire';
    padding: 0.2em 0.5em;
}